@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Sofadi+One&display=swap');
:root{
    --cor-principal:#2773d6;
    --cor-secundaria: 	#17bec4;
    --cor-texto:	#26f6fd;
    --cor-de-fundo:	#54eca0;
    --font:"Gowun Batang", serif;

}